@model Aiursoft.WarpPrism.Models.Property

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Property</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PropertyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PropertyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Context)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Context.TableId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PropertyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
