@model Aiursoft.WarpPrism.Models.PropertiesViewModels.IndexViewModel
@{
    ViewData["Title"] = "Index";
}
<h2>表的所有列</h2>
<p>
    <a class="btn btn-success" asp-action="Create" asp-route-id="@Model.TableId">插入列</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                列名
            </th>
            <th>
                列类型
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllProperTies)
        {
            <tr>
                <td>
                    <i class="fa fa-key fa-2x"></i> @Html.DisplayFor(modelItem => item.PropertyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.PropertyId">重命名列</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.PropertyId">属性</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PropertyId">删除列</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a class="btn btn-default" asp-controller="Tables" asp-action="Index" asp-route-id="@Model.DatabaseId">返回表列表</a>
    <a class="btn btn-primary" asp-controller="Items" asp-action="Index" asp-route-id="@Model.TableId">查看表数据</a>
</div>