@model Aiursoft.WarpPrism.Models.ItemsViewModels.IndexViewModel
@{
    ViewData["Title"] = "Index";
}
<h2>编辑表数据</h2>
<p>此处展示的是数据库中一个表的所有数据。你可以<a asp-action="Create" asp-route-id="@Model.EntireTable.TableId">插入新数据</a>，或对现有的数据进行操作。</p>
<table class="table">
    <thead>
        <tr>
            @foreach (var property in Model.EntireTable.Properties)
            {
                <th>@property.PropertyName</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EntireTable.Items)
        {
            <tr>
                @foreach (var property in Model.EntireTable.Properties)
                {
                    <th>@(Model.AllValues.SingleOrDefault(t => t.ItemId == item.ItemId && t.PropertyId == property.PropertyId)?.RealValue ?? "null")</th>
                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ItemId">修改</a> |
                    <a asp-action="Delete" asp-route-id="@item.ItemId">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="Tables" asp-action="Index" asp-route-id="@Model.EntireTable.DatabaseId">返回表列表</a>
</div>